body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 86vh;
    width: 100%;
    
}

footer, header {
    background-color: #20232a;
    padding: 5px 5px;
    height: 7vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
}

ul li::before {
    content: '\200B';
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.20rem 0;
    background-color: #eeeeeec5;
}

.item:first-child {
    margin: 0;
}

.item input[type="checkbox"] {
    text-align: center;
    width: 2.3rem;
    width: 40px;
    min-width: 40px;
    height: 2.3rem;
    height: 40px;
    min-width: 40px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
    text-decoration: underline;
}

.item > label {
    font-size: 1.3rem;
    font-weight:normal;
    flex-grow: 1;
    color: #20232a;
}

.item svg {
    width: 45px;
    min-width: 45px;
    height: 36px;
    font-size: 0.90rem;
    color: steelblue;
    cursor: pointer;
}

.item svg:focus,
.item svg:hover {
    color: #ff6347;
    outline: none;
}

.addForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 0 0;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 1px solid #eee;
}

.addForm label {
    position: absolute;
    left: -99999px;
}

.addForm input[type="text"] {
   flex-grow: 1;
   max-width: calc(100% - 50px);
   min-height: 45px;
   font-size: 1rem;
   padding: 0.25rem;
   border-radius: 0.25rem;
   margin-right: 0.25rem;
   outline: none;
}

button {
    height: 55px;
    min-width: 48px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: aliceblue;
    color: mediumblue;
    cursor: pointer;
}

button:focus,
button:hover {
    color: white;
    background-color: limegreen;
    outline: none;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.25rem 0 0;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 1px solid #eee;
}

.searchForm label {
    position: absolute;
    left: -99999px;
}

.searchForm input[type='text'] {
    flex-grow: 1;
    max-width: 100%;
    min-height: 45px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
}